@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "markdown.css";

body {
  color: #152435;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.container {
  padding: 40px 0;
  max-width: 1024px;
  margin: 0 auto;
}

